* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#333;
}
/* body에 전체 글꼴 */
body {
    color: #333;
    /* 300 light, 400 regular, 500 medium, 700 bold */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 1.4em; /* 1.4 기본값 */
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 12px;
}

p {
    font-weight: 500;
    text-align: left;
    margin-left: 24px;
}

/* 헤더 */
#main_header {
    position: relative;
    background: #fff;
    height: 100%;
    height: 68px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#main_header > h1 {
    padding-top: 10px;
}

#main_header > h1 > a > img {
    width: 141px;
    height: 34px;
    line-height: 68px;
}

#main_header > .btn_toggle {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
}

#main_header > .btn_right {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;    
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

#main_visual > .slider > img {
    width: 100%;
    display: block;
}

#service {
    background: #fff;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}

#service ul li {
    float: left; 
    width: 33.33%;
    text-align: center;    
}
#service ul li > p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;    
}
#service ul li > a {
    /* outline: 1px solid red; */
    /* display: inline-block; */
    height: 60px;
    line-height: 60px;
}

#service ul li > a > img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#mega_bakery {
    width: 100%;
    height: 215px;
    margin-bottom: 40px;
}
#mega_bakery > h2 {
    margin-bottom: 16px;
}
#mega_bakery img{    
    width: 100%;
    height: 215px;
    border-radius: 20px;  
}

#best {
    width: 100%;
    background: #fff;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 30px;
}

#best ul li {
    float: left; 
    width: 50%;
    text-align: center;    
    margin-bottom: 30px;
}
#best ul li > p {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
}
#best ul li > a {
    /* outline: 1px solid red; */
    /* display: inline-block; */
    height: 208px;
    line-height: 208px;
}

#best ul li > a > img {
    width: 90%;
    height: 100%;
    vertical-align: middle;    
}


#mega_deal {
    width: 100%;
    clear: both;
}
#mega_deal img {
    width: 100%;
    height: 138px;
}


#new {
    width: 100%;
    background: #fff;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}

#new ul li {
    float: left; 
    width: 33.33%;
    text-align: center;    
}
#new ul li > p {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;    
}
#new ul li > a {
    /* outline: 1px solid red; */
    /* display: inline-block; */
    height: 135px;
    line-height: 135px;
}

#new ul li > a > img {
    /* width: 117px; */
    width: 90%;
    height: 100%;
    vertical-align: middle;
}


/*
#new {
    margin-bottom: 60px;
}
#new .newproduct a {
    display: inline-block;
    width: 117px;
    height: 201px;
    margin-left: 21px;
    margin-right: 10px;
}
#new .newproduct a:nth-child(2n){
    margin-left: 0px;
    margin-right: 0px;
}
#new .newproduct a:last-child {
    margin-left: 10px;
}
#new .newproduct a > img {
    width: 117px;
    height: 135px;
}
#new .newproduct a > p {
    width: 117px;
    height: 40px;
    margin-left: 0;
}
*/



#main_footer {
    background: #333;
    color: #c2c2c2;    
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 0px; */
}
#main_footer .sns {
    margin-bottom: 25px;
}
#main_footer .sns img {
    width: 35px;
    height: 36px;
    margin-left: 13px;
    margin-right: 13px;
}
#main_footer > #address > p {
    text-align: center;
}
#address .customer_service ul > li{
    display: inline;
}
#address .customer_service ul li > a {
    color: #c2c2c2;
    font-weight: 300;
}
#address .customer_service ul > li > a:hover {
    color: white;
}


#main_footer .tel {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 0px;
}
#main_footer .tel a {
    color: #fff;
}

#main_footer .tel span,
#main_footer .info,
#main_footer .copy {
    font-size: 12px;    
    font-weight: 300;
    color: #c2c2c2;
    margin-left: 0px;
}

#main_footer .info {
    margin-bottom: 18px;
}

#main_footer .copy {
    color: #8d8d8d;
    text-align: center;
}

/* 메인 메뉴 */
#gnb {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #fff;
    left: 0; top: 0;
    z-index: 999;
    box-shadow: 2px 0px 6px rgba(0,0,0,0.2);
    display: none;
}

#gnb > div {
    height: 68px;
    /* outline: 1px solid red; */
}

#gnb .btn_close {
    position: absolute;
    right:20px; top:20px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
}

#gnb > ul > li {
    /* outline: 1px solid #ccc; */
    padding: 10px 20px;
    text-align: left;
    font-weight: 500;
}


/* 메인배너 슬라이더 이미지 영역 - 전환효과*/
.slider {
    width: 100%;
    /* height: calc(100vh - 68px); */
    padding-top: 161.35%;
    position: relative;
}

/* 클래스로 이미지의 상태를 정의 */
.slider > img {
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    transition-duration: 1s;
}

.slider > img.show {
    opacity: 1;
}